# ดักทุกอย่างที่ชื่อ build และ .dart_tool ไม่ว่าจะอยู่ชั้นไหน
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/

# ดักไฟล์ขยะ Android/Windows SDK
**/firebase_cpp_sdk_windows/
**/.gradle/
**/local.properties

# ความปลอดภัย
**/google-services.json